.card {
    height: 100%;
}

.cardTitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardText {
    margin-left: 0.7rem;
}

.noEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
